---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sustainable Disruption">  
    <div id="hero" class="parallax">
        <header>
            <a href="/" id="logo">
                <img src="/SD LLC.png" alt="SD LLC Logo" style="width: 250px; height: 100px;">
            </a>
            <nav>
                <li><a href="#about-us">About us</a></li>
                <li><a href="#services">Services</a></li>
                <!-- <li><a href="#clients">Clients</a></li> -->
                <li><a href="#contact-us">Contact us</a></li>
            </nav>
        </header>
    </div>
    <!-- End of header -->

    <div id="title-wrapper">
        <h1 id="about-us">Embracing sustainability at its best</h1>
    </div>
    <!--End of h1 -->

    <main>
        <p>
            At Sustainable Disruption LLC, we believe that using energy-efficient and 
            data-driven solutions to meet economic, societal, and environmentally growth 
            is critical now more than ever.
        </p>
    </main>
    
    <section>
        <h2 id="services">What we do</h2>
        <div id="card-wrapper">
            <div class="card">
                <div class="icon-container">
                    <img src="/management.png" alt="bussiness management icon">
                </div>
                <h3>Bussiness managment</h3>
                <ul>
                    <li>Due diligence and compliance.</li>
                    <li>Offering guide to switch to sustainable best practices and operations.</li>
                    <li>Establishing and developing corporate social responsability & sustainability plans.</li>
                    <li>Audit, analysis, and certification under ISO 14000.</li>
                    <li>Carbon footprint analysis.</li>
                    <li>Environmental impact assessment.</li>
                    <li>Life Cycle Analysis (LCA)</li>
                    <li>Environmental Product Declarations.</li>
                    <li>Ecolabels.</li>
                </ul>
            </div>
            <div class="card">
                <div class="icon-container">
                    <img src="/energia-renovable.png" alt="bussiness management icon">
                </div>
                <h3>Renewable energy & energy efficiency</h3>
                <ul>
                    <li>Solar panels; phtovoltaic modules.</li>
                    <li>Energy  managment systems (EnMS).</li>
                    <li>Smart Control Lighting.</li>
                    <li>Thermostats and Occupancy Sensors</li>
                </ul>
            </div>
            <div class="card">
                <div class="icon-container">
                    <img src="/transportation.png" alt="bussiness management icon">
                </div>
                <h3>Transportation: electric mobility, alternative & accessible systems</h3>
                <ul>
                    <li>Compliance codes.</li>
                    <li>Disabled parking.</li>
                    <li>Bicycle racks.</li>
                    <li>Solar panels; phtovoltaic modules for electric vehicles (EVs).</li>
                </ul>
            </div>
            <div class="card">
                <div class="icon-container">
                    <img src="/simbolo-de-reciclaje.png" alt="bussiness management icon">
                </div>
                <h3>Waste: recycling and final disposal</h3>
                <ul>
                    <li>Recycling for business.</li>
                    <li>Recycling at home.</li>
                    <li>Electronic waste (E-Waste)</li>
                </ul>
            </div>
            <div class="card">
                <div class="icon-container">
                    <img src="/arbol.png" alt="bussiness management icon">
                </div>
                <h3>Forestry: certification & tree planting</h3>
                <ul>
                    <li>
                        Tree planting programs and cerftications in collaborations with
                        local initiatives and the Forest Service.
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="icon-container">
                    <img src="/carrito-de-compras.png" alt="bussiness management icon">
                </div>
                <h3>Green purchasing</h3>
                <ul>
                    <li>Sustainable suppliers and vendors</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End of Card Section -->
    
    <!-- <section class="clients">
        <h2 id="clients">Clients</h2>
        <div class="clients-wrapper">
            <div class="grid-item"><img src="/SD LLC.png" alt="Image 1" width="300rem"> </div>
            <div class="grid-item"><img src="/SD LLC.png" alt="Image 2" width="300rem"> </div>
            <div class="grid-item"><img src="/SD LLC.png" alt="Image 3" width="300rem"> </div>
            <div class="grid-item"><img src="/SD LLC.png" alt="Image 4" width="300rem"> </div>
            <div class="grid-item"><img src="/SD LLC.png" alt="Image 5" width="300rem"> </div>
            <div class="grid-item"><img src="/SD LLC.png" alt="Image 6" width="300rem"> </div>
            <div class="grid-item"><img src="/SD LLC.png" alt="Image 7" width="300rem"> </div>
            <div class="grid-item"><img src="/SD LLC.png" alt="Image 8" width="300rem"> </div>
            <div class="grid-item"><img src="/SD LLC.png" alt="Image 9" width="300rem"> </div>
            <div class="grid-item"><img src="/SD LLC.png" alt="Image 10" width="300rem"></div>
            <div class="grid-item"><img src="/SD LLC.png" alt="Image 11" width="300rem"></div>
            <div class="grid-item"><img src="/SD LLC.png" alt="Image 12" width="300rem"></div>
        </div>
    </section> -->
    <!-- End of clients section -->

    <footer id="contact-us">
        <div id="footer-flex">
            <div class="logo-wrapper">
                <a href="#">
                    <img src="/SD LLC.png" alt="SD LLC Logo" style="width: 250px; height: 100px;">
                </a>
            </div>
            <div class="footer-content">
                <h2>Contact us</h2>
                <p>sustainabledisruptionusa@gmail.com</p>
                <p>+1 (305) 834-9753</p>
            </div>
        </div>
        <div class="copyright">
            <span>Copyright &copy; 2024. All Rights Reserved.</span>
        </div>
    </footer>
</Layout>
<style>
	/* Hero */
	#hero {
		background-image: url('/Panoramica.jpg');
		height: 80vh;
        /* parallax */
        background-size: cover;
		background-position: 15%;
		background-attachment: fixed;
	}
    
    .parallax {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    header {
        width: 100%;
        height: 20%;
        display: flex;
		justify-content: space-around; 
        align-items: center;
        background-color: #313432;
        opacity: 80%;
    }

    @media only screen and (max-width: 648px) {
        #hero {
            background-position: 30%;
        }
        
        header {
            flex-direction: column;
            height: 30%;
        }
        
    }

    #logo {
        width: 50%;
    }

    #logo img {
        object-fit: contain;
        margin: 2rem 0 2rem 5rem;
    }

    @media only screen and (max-width: 500px) {
        #logo img{
            margin: 0 auto;
        }
    }
    
    nav {
        height: 100%;
        list-style: none;
        display: flex;
        gap: 3rem;
        align-items: center;
    }

    nav li {
        color: #fff;
    }

    nav li a {
        font-size: 2rem;
    }

    nav li a:hover {
        text-decoration: underline;
    }

    #title-wrapper {
        padding: 2rem 0;
        margin-top: 2rem;
    }


	h1 {
		color: #188904;
        font-weight: bold;
		text-align: center;
		font-size: 4rem;
        margin: 0;
        opacity: 0; /* Set initial opacity to 0 */
        transform: translateY(20px); /* Move the div down initially */
        animation: fadeInUp 1s ease-in-out forwards 0.2s; /* Apply the animation with a delay */
	}

    @keyframes fadeInUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

	/* Main */
	main {
		margin: 5rem auto;
        width: 70%;
		text-align: center;
	}


	@media only screen and (max-width: 648px) {
		main {
			text-align: justify;
		}
	}

    main p {
        font-size: 2rem;
    }

	section {
		margin: 5rem 3rem;
	}

	h2, h3{
		color: #5AC184;
		text-align: center;
	}

	h2 {
		font-size: 3rem;
        margin-bottom: 3rem;
	}


	#card-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
		grid-gap: 1.5rem;
	}

	.card {
		background-color: #f9f9f9;
		padding: 2rem;
		margin: 2rem;
		border-radius: 0.8px;
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
		height: 36rem;
		overflow: scroll;
	}

    @media only screen and (max-width: 500px) {
        section {
            margin: 0;
        }

        .card {
            margin: 2rem 0;
            padding: 2rem 5rem;
        }

        .card ul {
            margin-top: 2rem;
        }
    }

	/* Style the scrollbar */
	.card::-webkit-scrollbar {
		width: 10px;
	}

	.card::-webkit-scrollbar-thumb {
		background-color: #5AC184;
		border-radius: 5px;
	}

	/* Hide the scrollbar by default and show on hover */
	.card::-webkit-scrollbar-thumb {
		visibility: hidden;
	}

	.card:hover::-webkit-scrollbar-thumb {
		visibility: visible;
	}

	.icon-container {
		width: 8rem;
		height: 8rem;
		margin: 0 auto;
	}

	.icon-container img {
		width: 100%;
	}

    .card ul {
        list-style: circle;
    }

	.card ul li {
		margin: 1.2rem 0;
	}

    .clients-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
        column-gap: 1.5rem;
        row-gap: 5rem;
        text-align: center;
    }

	/* Footer */
	footer {
		background-color: #3C403D;
		width: 100%;
	}

    .logo-wrapper {
        width: 50%;
        min-width: 30rem;
        height: 10rem;
        margin:  auto;
        position: relative;
        display: inline-flex;
    }

    .logo-wrapper img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* @media only screen and (min-width: 360px; max-width:400px) {
        .logo-wrapper img {
            min-width: none;
        }
    } */

	h4 {
		color: #5AC184;
	}

    #footer-flex {
        display: flex;
        max-width: 60%;
        padding-top: 8rem;
    }

	.footer-content {
		padding: 2rem 5rem;
		color: #ffffff
	}

    .footer-content h2 {
        text-align: left;
    }

    @media only screen and (max-width: 500px) {
        .footer-content {
            text-align: center;
        }

        .footer-content h2 {
            text-align: center;
        }
    }

	.copyright {
		text-align: center;
		background-color: #1F2120;
		width: 100%;
		padding: 1.5rem 0;
        margin-top: 10rem;
	}

	.copyright span {
		color: #666666;
		font-size: 1.8rem
	}

    @media only screen and (max-width: 750px) {
        .clients-wrapper div {
            width: 40%;
            margin: 0 auto;
        }
        
        .logo-wrapper{
            text-align: center;
            width: 30%;
        }

        .logo-wrapper  img {
            margin-top: 3rem;
        }

        #footer-flex {
            max-width: 100%;
            flex-direction: column;
            row-gap: 5rem;
            align-items: center;
        }
    }
</style>

