---
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { 
	title,
	description = "A comunity of music produces and enthusiasts",
 	image = "/images/band.jpg" 
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<!-- <Header></Header> -->
		<slot />
	</body>
</html>

<style>
	html {
		font-size: 62.5%; /*1rem -> 10px*/
		font-family: 'Arial', sans-serif; 

		scroll-behavior: smooth;
	}

	/* Disable smooth scrolling if the user has requested to minimize motion-based animations. */
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	@media only screen and (max-width:400px) {
		html {
			font-size: 45%;
		}
	}
	
	body {
		font-size: 1.6rem;
		box-sizing: border-box;
		
		margin: 0;
		padding: 0;
	}
</style>